body {
    text-align: center;
}

.titles {
	  background-color: #F4C2C2;
}

.content {
background-color: #FFF1FA;	
}

/* Set a style for all buttons */
button {
  background-color: white;
  color: #F4C2C2;
  padding: 14px 20px;
  margin: 8px 0;
  border-style: solid;
  border-color: #F4C2C2;
  cursor: pointer;
  width: 100%;
}

hr.solid {
  width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

h1 {
	text-decoration: underline;
	font: georgia;
}