
    
    .form-container{
    	width: 450px;
    	height:400px;
        margin: 0 auto;
        border: #000000;
        border-width: medium;
        border-style: solid;
        float: none;
        text-align: center;
        background-color: #89CFF0;
        
    }  

hr.solid {
  width: 50%;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

a {
	color: black;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}