<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kpop Group List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class ="col-md-4">
	<h1>Add a member</h1>
	<div>
		<form th:object="${member}" th:action="@{savemember}" action="#" method="post">
		  	<label for="artistname">Artist name</label>
			<input type="text" id="artistname" th:field="*{artistname}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="lastname">Last name</label>
			<input type="text" id="lastname" th:field="*{lastname}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="firstname">First name</label>
			<input type="text" th:field="*{firstname}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="catlist">Kpop group</label>
<select id="catlist" th:field="*{kpopgroup.id}" class="form-control">
<option th:each="cat: ${kpopgroups}" th:value="${cat.id}" th:text="${cat.kpopgroupname}"></option>
</select>

			<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
	</div>
	</div>
</body>
</html>