<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kpop Group List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="col-md-4">
		<h1>Delete a member</h1>
		<div>
			<form th:object="${member}" th:action="@{savemember}" action="#"
				method="post">
				<label for="catlist">Kpop group</label> <select id="catlist"
					th:field="*{kpopgroup.id}" class="form-control">
					<option th:each="cat: ${kpopgroups}" th:value="${cat.id}"
						th:text="${cat.kpopgroupname}"></option>
				</select> <label for="catlist">Member</label> <select id="catlist"
					th:field="*{kpopgroup.members}" class="form-control">
					<option th:each="cat: ${kpopgroup.members}"
						th:value="${cat.memberid}" th:text="${cat.artistname}"></option>
				</select> <input type="submit" class="btn btn-primary" value="Save"></input>
			</form>
		</div>
	</div>
</body>
</html>