<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">

<head>

<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
<title>Kpop Group List</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<h1>Kpop Groups</h1>
<table class="table table-striped">
<tr>
	<th>Group name</th>
	<th>Debut year</th>
	<th>Generation</th>
	<th>Members</th>
	</tr>
<tr th:each = "kpopgroup : ${kpopgroups}">
  <td th:text="${kpopgroup.kpopgroupname}"></td> 
  <td th:text="${kpopgroup.debutyear}"></td>
<td th:text="${kpopgroup?.generation?.generationName}"></td>
<td th:text="${kpopgroup.members}"></td>
   <td><a th:href="@{/delete/{id}(id=${kpopgroup.id})}" class="btn btn-danger">Delete</a> </td>
</tr>
</table>
<a href="/addkpopgroup" class="btn btn-success">Add a Group</a>
<a href="/addmember" class="btn btn-success">Add a member</a>
  
</body>
</html>